*{
    list-style: none;
    text-decoration: none;
    margin: 0; 
    padding: 0;
}
body{
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.component {
    width: 375px;
    height: 480px;
    background-color: firebrick;
    border-radius: 45px;
}
.component h2 {
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
}
.login {
    padding: 24px 28px;
}
ul li {
    margin-top: 25px;
}
.title {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
}
input {
    width: 100%;
    height: 36px;
    padding: 0px 10px;
    border-radius: 15px;
    border: 1px solid black;
}
.checkbox{
    border-radius: 4px;
    border: 1px solid black;
}
